body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: black solid 1px;
  height: 50px;
  width: 600px;
  margin: 0 auto;
  margin-top: 10px;
}

.item {
  align-self: center;
  border-bottom: black solid 1px;
}

.resetButton {
  width: 50%;
  height: 25px;
  background-color: red;
  color: white;
}

input[type="submit"],
input[name="guess"] {
  border-radius: 0.15em;
}

input[type="submit"] {
  margin-left: 1em;
  background-color: pink;
}

input[type="submit"]:hover {
  color: white;
  background-color: rgb(255, 102, 204);
}

input[name="guess"]:focus {
  outline: none;
}

.hangman {
  width: 200px;
  height: 300px;
  border: 0;
}
